/* Navigate bar */

.menu {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 1.4em 2.8em; 
    background-color: var(--color-three);
    text-align: center; 
    font-size: 1.1em;
    font-weight: 500;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.menu .container-fluid .row {
    align-items: center;
    justify-content: flex-start;
}

.menu .menu-logo i {
    font-size: 48px;
}

.menu .menu-logo span {
    padding-left: 10px;
    font-size: 24px;
    font-weight: 650;
} 

.menu .container-fluid .menu-logo a {
    display: flex; 
    align-items: center; 
    color: var(--color-one);
    transition: color 0.6s;
}

.menu .container-fluid .menu-logo a:hover {
    color: var(--color-two);
    text-decoration: none;
}

.menu .menu-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .menu-social a {
    padding-right: 0.5em;
    font-size: 1.3em;
    color: var(--color-one);
}

.menu .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 2.2em;
    width: 2.2em;
    border-radius: 25%;
}

.menu .bar {
    display: none;
}

/* Navigate bar reponsive */
@media (max-width: 991px)
{
    .menu .menu-home, .menu-about, .menu-services, .menu-contact, .facebook-icon, .twitter-icon, .instagram-icon {
        display: none;
    }

    .menu .bar {
        display: flex;
        position: absolute;
        align-self: center;
        right: 5rem;
        color: var(--color-one);
    }

    .menu .bar .icon-wrapper {
        height: 48px;
        width: 48px;
    }

    .menu .bar .icon-wrapper i {
        font-size: 19px;
    }
} 
/* End Responsive */

/* Section one */
.section-one {
    position: relative;
    background-image: url(https://mobirise.com/extensions/softwarem4/software-app/assets/images/background1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-one .recolor {
    position: absolute;
    background-color: #000;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.section-one .container {
    position: relative;
}

.section-one .container .text-wrap {
    padding: 12rem 1rem;
}

.section-one .text-wrap h2 {
    color: var(--color-four);
    font-size: 1.1em;
    letter-spacing: 0.02em;
    font-weight: bold;
    margin-bottom: 1.1em;
    font-family: sans-serif;
}

.section-one .text-wrap h1 {
    color: var(--color-four);
    font-size: 3.2em;
    font-weight: 650;
}

.section-one .text-wrap p {
    color: var(--color-five);
    font-size: 1.06em;
    font-weight: 600;
    padding: 1.2em 0em;
}

.section-one .text-wrap .button-wrap {
    display: flex;
    align-items: center;
}

.section-one .text-wrap .button-wrap:first-child {
    padding-right: 2em;
}

/* Section one responsive */
@media (max-width: 767px) {
    .section-one .text-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 16px;
    }

    .section-one .text-wrap .button-wrap {
        justify-content: center;
    }
}

/* End Section one */
/* Section two */
.section-two {
    background-color: var(--color-three);
    padding: 6rem 0rem;
}

.section-two img {
    width: 90%;
    border-radius: 10px;
}

.section-two .text-wrap {
    padding-top: 1rem;
}

.section-two .text-wrap strong {
    color: var(--color-seven);
    letter-spacing: 0.03em;
    font-size: 1.1em;
    font-weight: 650; 
}

.section-two .text-wrap h1 {
    margin: 0.3em 0em;
    font-weight: 650;
    letter-spacing: 0.06rem;
    font-size: 3.8em;
}

.section-two .box-wrap {
    display: flex;
    margin-top: 2rem;
}

.section-two .container .row .inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2.8rem;
    margin-right: 1.4rem;
    background-color: var(--color-four);
    border-radius: 15px;
}

.section-two .box-wrap .inner-box i {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    color: var(--color-eight);
}

.section-two .box-wrap .inner-box strong {
    font-weight: 650;
    font-size: 0.9em;
    color: var(--color-one);
}

.section-two .text-wrap p {
    margin: 2rem 0rem;
    font-size: 1.1em;
    color: var(--color-seven);
}

.section-two .decor-1 {
    display: flex;
}

.section-two .decor-1:hover {
    text-decoration: none;
    color: var(--color-seven);
}

/*  Section two responsive  */

@media (max-width: 991px) {
    .section-two .text-wrap {
        margin-top: 5rem;
    }
}

@media (max-width: 571px) {

    .section-two {
        padding-bottom: 2rem;
    }

    .section-two .container {
        text-align: center;
    }

    .section-two .box-wrap  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-two .text-wrap a {
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    .section-two .box-wrap .inner-box  {
        width: 10rem;
        height: 8rem;
        margin-bottom: 1rem;
    }

}

/* End responsive */
/* End Section two */

/* Section three */
.section-three {
    display: flex;
    background-color: var(--color-three);
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

.section-three .container {
    background-color: var(--color-four);
    border-radius: 10px;
}

.section-three .container .text-wrap {
   padding: 3rem;
}

.section-three .container strong {
    color: var(--color-seven);
    font-size: 1.1em;
    font-weight: 600;
}

.section-three .container h1 {
    margin-top: 1.2rem;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 0.08rem;
}

.section-three img {
    width: 80%;
    height: auto;
    object-fit: cover;
    transform: scale(1.2);
    transform-origin: bottom;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/*  Responsive section three  */
@media (max-width: 991px) {
    .section-three img {
        display: flex;
        justify-content: center; 
        width: 50%;
        transform: scaleY(1);
        margin: auto;
    }
}

@media (max-width: 767px) {
    .section-three .container .text-wrap {
        text-align: center;
    }
}

/*  End responsive  */
/* End Section three */

/* Section four */
.section-four {
    background-color: var(--color-four);
    color: var(--color-seven); 
    padding: 5rem;
}

.section-four .container .text-wrap h2 {
    font-size: 1.4em;
    color: #000;
}

.section-four .container .text-wrap p {
    font-size: 1.1em;
    padding: 0.8rem 0rem;
}

.section-four .container ul li {
    list-style: none;
    position: relative;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.section-four .container ul li::before {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    content: "✓";
    left: -40px;
    top: -8px;
    background-color: var(--color-three);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.section-four .container .box-wrap {
    margin-top: 1rem;
}

/*  Section four responsive  */
@media (max-width: 991px) {
    .section-four .container .text-wrap {
        text-align: center;
    }

    .section-four .container .box-wrap {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 571px) {
    .section-four .container .text-wrap h2 {
        font-size: 1.5em;
        margin-bottom: 1.5rem;
        font-weight: 650;
    }
}

/*  End Section four responsive  */
/* End Section four */

/* Section five */
.section-five {
    background-color: var(--color-three);
    text-align: center;
    padding: 5rem 0rem;
}

.section-five .inner-box {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.section-five h1 {
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: 0.05rem;
    margin: 0;
    margin-bottom: 4rem;
}

.section-five .item-image {
    height: 225px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.section-five .item-image img {
    height: 225px;
    width: 100%;
    object-fit: cover;
    transition: all 1s;
}

.section-five img:hover {
    transform: scale(1.1);
}

.section-five .text-box {
    text-align: left;
    padding: 1.5rem 2rem;
}

.section-five .text-box strong {
    color: var(--color-seven);
    font-weight: 600;
}

.section-five .text-box h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.section-five .inner-box i {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    background-color: var(--color-four);
    width: 3.8rem;
    height: 3.8rem;
    right: 1.6rem;
    border-radius: 8px;
    top: 12rem;
    box-shadow: 1px 1px 29px 0 rgba(12, 40, 60, 0.08);
    transition: all 0.5s;
}

.section-five .inner-box i:hover {
    box-shadow: 5px 5px 5px rgba(3, 8, 12, 0.08);
}

#s5-edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  Section five responsive  */
@media (max-width: 991px) {
    .section-five .spacing-justify {
        margin: 5rem 0rem;
    }

    .section-five h1 {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .section-five h1 {
        margin-bottom: 4rem;
    }
}

/*  Section six  */
.section-six {
    padding: 5rem 0rem;
    background-color: #1B2026;
}

.section-six .card-wrapper {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 4rem;
}

.section-six .card-wrapper .text-wrapper strong {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-seven);
}

.section-six .card-wrapper .text-wrapper h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 1rem 0rem;
}

.section-six .card-wrapper .bar-wrapper:nth-child(2) {
    margin: 1rem 0rem;
}

.section-six .card-wrapper .bar-wrapper .bar {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-three);
    color: var(--color-seven);
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
}

.section-six .card-wrapper .bar-wrapper .bar p {
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-top: 0.8rem;
}

.section-six .card-wrapper .bar-wrapper .bar i {
    font-size: 1.5rem;
}

.section-six .card-wrapper .bar-wrapper .bar .pointer {
    position: absolute;
    right: 1.5rem;
}
/*  Responsive  */
@media (max-width: 991px) {
    .section-six .card-wrapper .text-wrapper {
        text-align: center;
    }

    .section-six .card-wrapper .text-wrapper h1 {
        margin-bottom: 3rem;
        margin-top: 0.2rem;
    }
}
/*  End Responsive  */
/*  End Section Six  */

/*  Section Seven  */
.section-seven {
    padding: 5rem 0rem;
    background-color: var(--color-three);
}

.section-seven .content-wrapper .text-wrapper {
    text-align: center;
}

.section-seven .content-wrapper .text-wrapper strong {
    color: var(--color-seven);
    font-size: 1.15rem;
    font-weight: 500;
}

.section-seven .content-wrapper .text-wrapper h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.section-seven .content-wrapper .box-wrapper .row {
    width: 100%;
}

.section-seven .content-wrapper .box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--color-four);
    border-radius: 10px;
    margin-top: 3rem;
}

.section-seven .content-wrapper .box-wrapper img {
    width: 10rem;
    height: 10rem;
    margin-top: 2.5rem;
    margin-bottom: 1.8rem;
    object-fit: cover;
    border-radius: 50%;
}

.section-seven .content-wrapper .box-wrapper h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.section-seven .content-wrapper .box-wrapper .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.section-seven .content-wrapper .box-wrapper .icon-wrapper a {
    color: #000;
}

.section-seven .content-wrapper .box-wrapper .icon-wrapper i{
    margin: 0rem 0.3rem;
    font-size: 1.1rem;
    padding: 1rem;
    height: 3rem;
    width: 3rem;
    background-color: var(--color-three);
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
}

.section-seven .content-wrapper .box-wrapper .icon-wrapper i:hover {
    background-color: var(--color-six);
    color: var(--color-four);
}

/*  End Section Seven  */

/*  Section Eight  */
.section-eight {
    padding-bottom: 5rem;
    background-color: var(--color-three);
}

.section-eight .container .row img {
    position: relative;
    width: 100%;
    height: 31.24rem;
    object-fit: cover;
    border-radius: 10px;
}

.section-eight .box-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    margin-top: -2rem;
    padding: 1.5rem;
    background-color: var(--color-four);
    border-radius: 15px;
    z-index: 2;
}

.section-eight .box-wrapper h3 {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-seven);
}

.section-eight .box-wrapper strong {
    font-size: 1.1rem;
}

.section-eight .box-wrapper button {
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 1.2vw 3.5vw;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.section-eight .box-wrapper button:hover {
    background-color: var(--color-six);
    color: #000;
    border: none;
}

/*  Responsive  */
@media (min-width: 991px) {
    .section-eight .box-wrapper .adjust-20 {
        flex: 0 0 20%;
        max-width: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .section-eight .box-wrapper strong {
        margin-bottom: 1rem;
    }

    .section-eight .box-wrapper button {
        margin-top: 1rem;
    }
}
/*  End Responsive  */
/*  End Section eight*/

/*  Section nine  */
.section-nine {
    padding: 5rem;
    background-color: #31363B;
    color: var(--color-four);
}

.section-nine .text-wrapper strong {
    color: var(--color-five);
    font-size: 1.1rem;
}

.section-nine .text-wrapper h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.section-nine .inner-wrapper {
    position: relative;
    background-color: var(--color-four);
    border-radius: 10px;
    padding: 2rem;
}

.section-nine .inner-wrapper em {
    color: var(--color-seven);
    font-size: 1.6rem;
    letter-spacing: 0.04rem;
}

.section-nine .inner-wrapper i {
    color: var(--color-seven);
    position: absolute;
    right: 10%;
    font-size: 3.5rem;
    bottom: 30%;
}

.section-nine .inner-wrapper .inner-box {
    display: flex;
    color: #000;
    margin-top: 3rem;
}

.section-nine .inner-wrapper .inner-box img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.section-nine .inner-wrapper .inner-box .inner-box-text {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
}

.section-nine .inner-wrapper .inner-box .inner-box-text h2 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.section-nine .inner-wrapper .inner-box .inner-box-text p {
    color: var(--color-seven);
    font-size: 1.1rem;
}
/*  Responsive  */
@media (max-width: 991px) {
    .section-nine .inner-wrapper {
        margin-bottom: 2rem;
    }
}
/*  End Responsive  */
/*  End Section nine  */

/*  End Section ten  */
.section-ten {
    padding: 5rem 0rem;
    background-color: var(--color-nine);
    text-align: center;
}

.section-ten h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.section-ten .img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://mobirise.com/extensions/softwarem4/software-app/assets/images/background4.jpg');
    object-fit: cover;
    background-size: cover;
    min-height: 37.5rem;
    background-position: center;
    border-radius: 10px;
}

.section-ten .img-wrapper .icon-wrapper {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-four);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    z-index: 4;
}

.section-ten .img-wrapper .icon-wrapper:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 50%;
    animation-duration: 1s;
    animation-name: icons;
    animation-iteration-count: infinite;
    z-index: 1;
}

.section-ten .img-wrapper a {
    text-decoration: none;    
}

.section-ten .img-wrapper .icon-wrapper i {
    font-size: 1.5rem;
    color: var(--color-seven);
    z-index: 5;
}

/*  End Section ten  */
/*  Section eleven  */
.section-eleven {
    padding: 5rem 0rem;
}

.section-eleven strong {
    color: var(--color-seven);
    font-weight: 500;
    font-size: 1.1rem;
}
.section-eleven h1 {
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.section-eleven .pastel-green {
    padding: 5rem;
    background-color: var(--color-nine);
}

.section-eleven form {
    width: 100%;
}

.section-eleven form input {
    padding: 1.7rem;
    border-radius: 10px;
}

.section-eleven .form-row textarea {
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem 1.5rem;
}

.section-eleven .form-row .submit-button {
    position: relative;
    font-size: 1.1rem;
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.section-eleven .form-row .submit-button:hover {
    background-color: var(--color-six);
    color: #000;
    border: none;
}
/*  Responsive  */
@media (max-width: 991px) {
    .section-eleven form .form-row input  {
        margin-bottom: 1.5rem;
    }

    .section-eleven .align-right {
        text-align: center !important;
        margin-top: 1rem;
    }
}

/*  End Responsive  */
/*  End Section eleven  */

/*  Section twelve  */
.section-twelve iframe {
    height: 28.8rem;
    width: 100%;
    margin-bottom: 0;
}
/*  End Section twelve  */

/*  Footer  */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #000;
}

footer .copyright {
    color: #fff;
    font-size: 1.1rem;
}
/*  End Footer  */
